# Rewrite rules
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteRule ^(upload¦imagedir2¦imagedir3¦plugins) - [L]

AddDefaultCharset UTF-8
# Security: Don't allow browsing of directories
Options -Indexes
