@import url("http://fonts.googleapis.com/css?family=Roboto");
/* =================== IMPORTS ====================== */
/* =================== GLOBALS ====================== */
/* =================== BODY ====================== */
body {
  background-color: black;
  background-image: url(../img/xbg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #3791c8;
  font-family: Roboto; }

/* =================== FORM ====================== */
input[type="text"], input[type="email"], input[type="password"] {
  background-color: #404040;
  padding-left: 20px;
  border-radius: 0;
  border: none;
  margin-bottom: 10px;
  color: #cccccc;
  height: 43px; }

/* =================== LAYOUT ====================== */
.box .box-header {
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
  background-color: white;
  position: relative; }
.box .box-main {
  background-color: #505050;
  padding: 40px 50px;
  color: white; }
.box .box-footer {
  background-color: #404040;
  padding: 20px 50px;
  color: #999999;
  font-size: 12px;
  text-shadow: 0px 2px 3px black;
  border-radius: 0 0 10px 10px; }

.clantag {
  color: #dcbe0e;
  font-weight: bold; }

/* =================== LOGIN ====================== */
.login-view .box {
  margin-top: 80px; }
  .login-view .box .box-header {
    text-align: center;
    font-size: 50px; }
    .login-view .box .box-header .logo {
      color: white;
      border-radius: 50%;
      border: 3px solid #e7e7e7;
      padding: 15px 20px;
      background: #f6f8f9;
      background: linear-gradient(135deg, #2f3b4b 0%, #29333f 50%, #282f37 51%, #f5f7f9 100%); }
  .login-view .box .box-main .signin {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3791c8;
    color: white;
    transition: background-color 300ms linear; }
    .login-view .box .box-main .signin:hover {
      background-color: #7ac6f4; }

/* =================== STATS ====================== */
.stats-view .box {
  margin-top: 80px; }
  .stats-view .box .box-header {
    padding-left: 60px;
    background-repeat: no-repeat;
    background-position: 5px center;
    text-shadow: 0px 2px 3px #555555;
    font-size: 22px; }
  .stats-view .box .box-main {
    padding: 40px 20px; }
  .stats-view .box .box-footer {
    padding: 20px 125px;
    overflow: auto;
    position: relative; }
    .stats-view .box .box-footer .wrap-level {
      position: absolute;
      top: 20px;
      font-size: 32px;
      width: 95px; }
      .stats-view .box .box-footer .wrap-level.current {
        left: 20px; }
      .stats-view .box .box-footer .wrap-level.next {
        right: 20px; }
    .stats-view .box .box-footer .current-level, .stats-view .box .box-footer .next-level {
      color: white;
      float: left;
      margin: 0 5px 0 0; }
    .stats-view .box .box-footer .next-level {
      margin: 0 0 0 5px; }
    .stats-view .box .box-footer .progress {
      margin: 12px; }

/* =================== RANKS ====================== */
.level {
  background-image: url(../img/ranks.png);
  height: 50px;
  width: 50px;
  float: left; }

.level.level-1, .level.level-2 {
  background-position: 0 0px; }

.level.level-3, .level.level-4 {
  background-position: 0 -50px; }

.level.level-5, .level.level-6 {
  background-position: 0 -100px; }

.level.level-7, .level.level-8 {
  background-position: 0 -150px; }

.level.level-9, .level.level-10 {
  background-position: 0 -200px; }

.level.level-11, .level.level-12, .level.level-13 {
  background-position: 0 -250px; }

.level.level-14, .level.level-15, .level.level-16 {
  background-position: 0 -300px; }

.level.level-17, .level.level-18, .level.level-19 {
  background-position: 0 -350px; }

.level.level-20, .level.level-21, .level.level-22 {
  background-position: 0 -400px; }

.level.level-23, .level.level-24, .level.level-25 {
  background-position: 0 -450px; }

.level.level-26, .level.level-27, .level.level-28 {
  background-position: 0 -500px; }

.level.level-29, .level.level-30, .level.level-31 {
  background-position: 0 -550px; }

.level.level-32, .level.level-33, .level.level-34 {
  background-position: 0 -600px; }

.level.level-35, .level.level-36, .level.level-37 {
  background-position: 0 -650px; }

.level.level-38, .level.level-39, .level.level-40 {
  background-position: 0 -700px; }

.level.level-41, .level.level-42, .level.level-43 {
  background-position: 0 -750px; }

.level.level-44, .level.level-45, .level.level-46 {
  background-position: 0 -800px; }

.level.level-47, .level.level-48, .level.level-49 {
  background-position: 0 -850px; }

.level.level-50, .level.level-51, .level.level-52 {
  background-position: 0 -900px; }

.level.level-53, .level.level-54, .level.level-55 {
  background-position: 0 -950px; }

.level.level-56, .level.level-57, .level.level-58, .level.level-59 {
  background-position: 0 -1000px; }

.level.level-60 {
  background-position: 0 -1050px; }

.prestige {
  background-image: url(../img/prestiges.png);
  height: 48px;
  width: 48px;
  float: left; }

.prestige-1 {
  background-position: 0 0px; }

.prestige-2 {
  background-position: 0 -48px; }

.prestige-3 {
  background-position: 0 -96px; }

.prestige-4 {
  background-position: 0 -144px; }

.prestige-5 {
  background-position: 0 -192px; }

.prestige-6 {
  background-position: 0 -240px; }

.prestige-7 {
  background-position: 0 -288px; }

.prestige-8 {
  background-position: 0 -336px; }

.prestige-9 {
  background-position: 0 -384px; }

.prestige-10 {
  background-position: 0 -432px; }
