/* =================== ICONS ====================== */
.icon
  background-image: url(#{$img}icons.png)
  background-position: left center
  background-repeat: no-repeat
  &.small
    background-image: url(#{$img}small_icons.png)
span
  &.icon
    height: 50px
    width: 50px
    float: left
    display: block
    &.small
      height: 25px
      width: 25px
$i: 0
@each $icon in $icons
  .icon-#{$icon}
    background-position: 0 -#{$i*50}px
  $i: $i + 1

$i: 0
@each $icon in $small_icons
  .icon-#{$icon}
    background-position: -#{$i*25}px 0
  $i: $i + 1
  /* =================== RANKS ====================== */
.level
  background-image: url(#{$img}ranks.png)
  height: 50px
  width: 50px
  float: left
  &.level-1, &.level-2
    background-position: 0 0px
  &.level-3, &.level-4
    background-position: 0 -50px
  &.level-5, &.level-6
    background-position: 0 -100px
  &.level-7, &.level-8
    background-position: 0 -150px
  &.level-9, &.level-10
    background-position: 0 -200px
  &.level-11, &.level-12, &.level-13
    background-position: 0 -250px
  &.level-14, &.level-15, &.level-16
    background-position: 0 -300px
  &.level-17, &.level-18, &.level-19
    background-position: 0 -350px
  &.level-20, &.level-21, &.level-22
    background-position: 0 -400px
  &.level-23, &.level-24, &.level-25
    background-position: 0 -450px
  &.level-26, &.level-27, &.level-28
    background-position: 0 -500px
  &.level-29, &.level-30, &.level-31
    background-position: 0 -550px
  &.level-32, &.level-33, &.level-34
    background-position: 0 -600px
  &.level-35, &.level-36, &.level-37
    background-position: 0 -650px
  &.level-38, &.level-39, &.level-40
    background-position: 0 -700px
  &.level-41, &.level-42, &.level-43
    background-position: 0 -750px
  &.level-44, &.level-45, &.level-46
    background-position: 0 -800px
  &.level-47, &.level-48, &.level-49
    background-position: 0 -850px
  &.level-50, &.level-51, &.level-52
    background-position: 0 -900px
  &.level-53, &.level-54, &.level-55
    background-position: 0 -950px
  &.level-56, &.level-57, &.level-58, &.level-59
    background-position: 0 -1000px
  &.level-60
    background-position: 0 -1050px
/* =================== PRESTIGES ====================== */
.prestige
  background-image: url(#{$img}prestiges.png)
  height: 48px
  width: 48px
  float: left
@for $i from 1 through 10
  .prestige-#{$i}
    background-position: 0 -0px - ( 48 * ($i - 1) )

