<div class="disclaimer-view">
  <div class="col-md-12 animated fadeIn box">
    <div class="box-header">Disclaimer</div>
    <div class="box-main">
      <p>The information contained in this website is for general information purposes only. The information is provided by xGhost and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
      <p>Every effort is made to keep the website up and running smoothly. However, xGhost takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>

      <ul>
        <li>The owner and the associates of xGhost are not in any way affiliated with Activision, Infinity Ward or Call of Duty.</li>
        <li>Activision, Call of Duty and Modern Warfare are registered trademarks of Activision Publishing, Inc. All rights reserved. All other trademarks and trade names are the properties of their respective owners</li>
        <li>This website is made by fans for fans and has no commercial agenda</li>
        <li>The owner of this website will give credit where deemed necessary, if you feel mistreated please contact us immediately.</li>
        <li>If material on this website is copyrighted please let us know and we take appropriate action.</li>
      </ul>
    </div>
    <div class="box-footer">&nbsp;</div>
  </div>
</div>
